[user]
	name = sandroid
	signingkey = 91418C9982B8B76E
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	autocrlf = input
	# fixes broken special characters
	quotePath = false
[interactive]
	diffFilter = diff-so-fancy --patch
[bulkworkspaces]
	aur = $HOME/repos/aur
[color "diff"]
	meta = blue
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[submodule]
	recurse = true
[merge]
  tool = code
[mergetool]
  keepBackup = false
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[commit]
	gpgsign = true
[pager]
	blame = delta
